<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body class="container">
	<header>
		<%- include('../partials/header'); %>
	</header>

	<main>
		<div class="jumbotron" style="background-color: #e8e8e8;">
			<h1>Getting Started With Docker</h1>
			<img height="300" src="https://cdn.hashnode.com/res/hashnode/image/upload/v1666944462325%2F4ftM7ZQYu.png"
				alt="">
		</div>
	</main>

	<footer>
		<%- include('../partials/footer'); %>
	</footer>

</body>

</html>